.modal {
  &ContentInner {
    max-width: 560px;
    flex: 1 1 0;
    width: 100%;
    @media screen and (max-width: 580px) {
      flex: unset;
      height: calc(100dvh - 20%);
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &.flexRow {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      max-width: 560px;
    }

    &.deposit {
      max-width: 784px;
      gap: 24px;
    }

    &.contestConditions {
      max-width: 784px;
    }
  }
  &RowItem {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1 1 0;
  }
  &Header {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    flex: 1 1 0;
    width: 100%;
    span {
      font-size: 16px;
      line-height: 16px;
      font-weight: 700;
      color: #fff;
    }
  }
  &Condition {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 0;
    width: 100%;
    padding: 14px;
    border: 2px dashed rgba(255, 255, 255, 0.15);
    border-radius: 12px;
  }
  &Content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1 1 0;
    width: 100%;
    button {
      flex: 1 1 0;
    }
    &Methods {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      row-gap: 8px;

      &Item {
        position: relative;
        min-width: 120px;
        width: 100%;
        overflow: hidden;
        border-radius: 8px;
        height: 88px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 0;
        &.active {
          .modalContentMethodsItemBG {
            background: lighten(#232831, 7%);
            border: 2px solid var(--color-green);
          }
        }
        &BG {
          border-radius: 8px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #232831;
          z-index: 0;
          transition: background-color ease .3s, border ease .3s;
          border: 2px solid transparent;
        }
        img {
          z-index: 2;
        }
        input {
          cursor: pointer;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          margin: 0;
          padding: 0;
          opacity: 0;
          z-index: 3;
        }
      }
    }
    span {
      &.stats {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        line-height: 16px;
        font-weight: 800;
        color: #949EB0;
        text-transform: uppercase;
        p {
          font-size: 14px;
          line-height: 16px;
          font-weight: 600;
          color: #fff;
          &.green {
            color: #92E7A5;
          }
          &.yellow {
            color: #FFD600;
          }
        }
      }
    }
  }
  &Slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 40px;
    &Navigation {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      button {
        display: flex;
        background: rgba(255, 255, 255, .15);
        border: 1px solid rgba(255, 255, 255, .15);
        padding: 7px;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color ease .3s;
        &:hover {
          background: rgba(255, 255, 255, .25);
        }
        &:first-child {
          i {
            transform: scaleX(-1);
          }
        }
      }
    }
    &Content {
      width: 100%;
      height: 100%;
      display: flex;
      box-sizing: content-box;
      &Item {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        &Content {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
        img, video {
          width: 100%;
          border-radius: 12px;
        }
        h4 {
          font-size: 16px;
          line-height: 16px;
          font-weight: 800;
          color: white;
        }
        span {
          font-size: 14px;
          line-height: 150%;
          font-weight: 600;
          color: var(--color-gray);
        }
      }
    }
  }
}

.user {
  &Settings {
    &Input {
      text-align: center;
    }
  }
}