.item {
  height: 56px;
  border-radius: 4px;
  &:hover {
    .itemContent {
      transform: translateY(-100%);
    }
  }
  &Prize {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 16px;
    top: 4px;
  }
  &Content {
    display: flex;
    min-width: 80px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: relative;
    cursor: pointer;
    transition: transform ease .3s;
    height: 56px;
  }
  &.blue {
    background: radial-gradient(90.22% 100% at 50% 0%, rgba(0, 194, 255, 0.20) 0%, rgba(0, 194, 255, 0.00) 100%), #1C212A;
  }
  svg {
    width: 45px;
    height: 48px;
    position: absolute;
    left: 50%;
    top: 4px;
    transform: translateX(-50%);
  }
  &Info {
    display: flex;
    padding: 8px 8px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;

    &Drop {
      position: relative;
      flex-direction: column;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      overflow: hidden;
      padding: 8px;
      span {
        width: 64px;
        white-space: nowrap;
        overflow: hidden;
        color: #D5D9DF;
        text-overflow: ellipsis;
        font-size: 8px;
        font-weight: 600;
        line-height: 8px; /* 100% */
      }
      &Avatar {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 8px;
        left: 8px;
        z-index: 1;
        border-radius: 50%;
      }
      &Case {
        position: absolute;
        width: 56px;
        height: 56px;
        top: 55%;
        left: 80%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
    }
    &Price {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 2px;
      align-self: stretch;
      color: var(--color-yellow);
      font-size: 8px;
      font-style: normal;
      font-weight: 700;
      line-height: 8px; /* 100% */
      i {
        width: 8px;
        height: 8px;
        &:before {
          font-size: 8px;
          color: var(--color-yellow);
        }
      }
    }
    span {
      width: 64px;
      white-space: nowrap;
      overflow: hidden;
      color: #D5D9DF;
      text-overflow: ellipsis;
      font-size: 8px;
      font-weight: 600;
      line-height: 8px; /* 100% */
    }
  }
}