.item {
  position: relative;
  display: flex;
  padding: 16px;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  background: #1C212A;
  flex: 1 1 100%;
  overflow: hidden;
  height: 100%;
  min-width: 120px;
  scroll-snap-align: start;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    transition: opacity ease .3s;
  }

  &.special {
    &:before {
      background: radial-gradient(90.22% 100% at 50% 0%, rgb(255, 138, 0) 0%, rgba(0, 194, 255, 0.00) 100%), #1C212A;
    }
    &:hover {
      &:before {
        opacity: .5;
      }
    }
  }
  &.covert {
    &:before {
      background: radial-gradient(90.22% 100% at 50% 0%, rgb(255, 0, 0) 0%, rgba(0, 194, 255, 0.00) 100%), #1C212A;
    }
    &:hover {
      &:before {
        opacity: .5;
      }
    }
  }
  &.classfield {
    &:before {
      background: radial-gradient(90.22% 100% at 50% 0%, rgb(189, 0, 255) 0%, rgba(0, 194, 255, 0.00) 100%), #1C212A;
    }
    &:hover {
      &:before {
        opacity: .5;
      }
    }
  }
  &.restricted {
    &:before {
      background: radial-gradient(90.22% 100% at 50% 0%, rgb(136, 71, 255) 0%, rgba(0, 194, 255, 0.00) 100%), #1C212A;
    }
    &:hover {
      &:before {
        opacity: .5;
      }
    }
  }
  &.rate {
    &:before {
      background: radial-gradient(90.22% 100% at 50% 0%, rgb(75, 105, 255) 0%, rgba(0, 194, 255, 0.00) 100%), #1C212A;
    }
    &:hover {
      &:before {
        opacity: .5;
      }
    }
  }
  &.uncommon {
    &:before {
      background: radial-gradient(90.22% 100% at 50% 0%, rgb(94, 152, 217) 0%, rgba(0, 194, 255, 0.00) 100%), #1C212A;
    }
    &:hover {
      &:before {
        opacity: .5;
      }
    }
  }
  &.common {
    &:before {
      background: radial-gradient(90.22% 100% at 50% 0%, rgb(176, 195, 217) 0%, rgba(0, 194, 255, 0.00) 100%), #1C212A;
    }
    &:hover {
      &:before {
        opacity: .5;
      }
    }
  }

  &:hover {
    .itemImages {
      img {
        transform: translateY(-150%);
        &:last-child {
          transform: translateY(-50%);
        }
      }
    }
    .itemInfo {
      transform: translateY(-100%);
      &:last-child {
        transform: translateY(0%);
      }
    }
  }

  svg {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  &Images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      position: absolute;
      width: 104px;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      transition: transform ease .3s;
      &:last-child {
        transform: translateY(50%);
        top: 55%;
        right: -8px;
      }
    }
  }

  &Info {
    &:last-child {
      transform: translateY(100%);
    }
    position: absolute;
    padding: 16px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: transform ease .3s;

    span {
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
    }

    .title {
      font-size: 12px;
      line-height: 16px;
      color: #D5D9DF;
      font-weight: 500;
    }
    .case {
      font-size: 12px;
      line-height: 16px;
      color: #fff;
      font-weight: 500;
    }
    .price {
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 12px;
      line-height: 16px;
      color: var(--color-yellow);
      font-weight: 500;
      i {
        &:before {
          color: var(--color-yellow);
        }
      }
    }
    .date {
      font-size: 10px;
      line-height: 8px;
      color: #fff;
      opacity: .5;
    }
  }
}