.sidebar {
  position: fixed;
  z-index: 10;
  float: left;
  height: 100%;
  background: #232831;
  width: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1024px){
    display: none;
  }
}