.item {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  border-radius: 12px;
  background: #232831;
  transition: background-color ease .3s;
  &:hover {
    background: #272c36;
  }
  span:first-child {
    color: #D5D9DF;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  span:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    img {
      width: 32px;
      height: 32px;
      border-radius: 6px;
    }
  }
}