.section {
  display: flex;
  gap: 32px;

  &Left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 248px;
    width: 100%;
    max-width: 288px;
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
  &Right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 0;
  }
  &Mobile {
    display: none;
    @media screen and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
    }
  }
}