.badge {
  &Top {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-yellow);
    background: var(--color-orange-dark);
    padding: 6px 8px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    border-radius: 6px;
  }
  &Id {
    display: flex;
    align-items: center;
    color: white;
    background: var(--color-dark-light);
    padding: 6px 8px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    border-radius: 6px;
    gap: 4px;
    cursor: pointer;
    transition: background ease .3s;
    &:hover {
      background: var(--color-dark-light_hover);
    }
  }
}
.profile {
  &User {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    padding: 16px;
    background: #232831;
    border-radius: 12px;
    gap: 16px;
    &Top {
      flex: 1 1 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      &Info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex: 1 1 0;
        h4 {
          font-size: 14px;
          font-weight: 700;
          line-height: 16px;
        }
        &Stats {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
      &Image {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        img {
          width: 48px;
          height: 48px;
          border-radius: 6px;
        }
        i {
          position: absolute;
          background: #232831;
          border-radius: 6px;
          bottom: 0;
          left: 0;
          &:before {
            color: #DF1B1A;
          }
        }
      }
    }
    &Bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 8px;
      &Withdraw {
        display: flex;
        gap: 16px;
        width: 100%;
        &State {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 16px;
          font-size: 14px;
          line-height: 24px;
          padding: 8px 16px;
          font-weight: 600;
          background: var(--color-green-dark);
          border-radius: 6px;
        }
      }
    }
  }
}