.giveawayInfo {
  z-index: 0;
  position: relative;
  display: flex;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  background: linear-gradient(315deg, #433333 0%, rgba(67, 51, 51, 0.00) 100%), #232831;
  flex-wrap: wrap;
  row-gap: 16px;
  &Buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    z-index: 2;
    flex-wrap: wrap;
    row-gap: 8px;
    button {
      backdrop-filter: blur(16px);
      flex: 1 1 0;
    }
  }
  &Image {
    position: absolute;
    width: 322px;
    height: 180px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    &:before {
      position: absolute;
      content: '';
      background-image: url("./assets/giveaway__shine.png");
      background-repeat: no-repeat;
      background-size: 100%;
      width: 524px;
      height: 400px;
      z-index: 0;
    }
    &:after {
      position: absolute;
      bottom: 0;
      content: '';
      width: 322px;
      height: 96px;
      background-image: url("./assets/giveaway__smoke.png");
      background-repeat: no-repeat;
      background-size: 100%;
      z-index: 2;
    }
    img {
      max-height: 100%;
      z-index: 1;
    }
  }
  h1 {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    z-index: 2;
  }
}