.content {
  @media screen and (min-width: 1281px) {
    &.chatOpened {
      margin-right: var(--chat-width);
    }
  }

  display: flex;
  flex-direction: column;
  margin-left: var(--sidebar-width);
  flex: 1 1 0;
  overflow-x: hidden;
  transition: margin .3s;
}