.tooltip {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
  font-size: 12px;
  min-width: 235px;
  background: var(--color-tooltip);
  border-radius: 6px;
  padding: 8px;
  line-height: 16px;
  text-align: center;
  opacity: 0;
  transition: opacity ease .3s;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    border-style: solid;
    height: 0;
  }

  &.right {
    left: calc(100% + var(--tooltip-border-offset));
    right: unset;

    &:after {
      border-width: 4px 4px 4px 0;
      border-color: transparent #000 transparent transparent;
      right: unset;
      left: - var(--tooltip-border-offset);
    }
  }

  &.left {
    right: calc(100% + var(--tooltip-border-offset));
    left: unset;

    &:after {
      border-width: 4px 0 4px 4px;
      border-color: transparent transparent transparent #000;
      left: unset;
      right: - var(--tooltip-border-offset);
    }
  }

  &.top {
    justify-content: center;
    left: 50%;
    transform: translate(-50%, 0);
    right: unset;
    top: unset;
    bottom: calc(100% + var(--tooltip-border-offset));

    &:after {
      border-width: 4px 4px 0 4px;
      border-color: #000 transparent transparent transparent;
      right: unset;
      top: unset;
      bottom: calc(var(--tooltip-border-offset) * -1);
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  &.bottom {
    left: 50%;
    transform: translate(-50%, 0);
    right: unset;
    top: calc(100% + var(--tooltip-border-offset));

    &:after {
      border-width: 0 4px 4px 4px;
      border-color: transparent transparent #000 transparent;
      right: unset;
      top: calc(var(--tooltip-border-offset) * -1);
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  &.after {
    transform: none;
    right: -20px;
    top: calc(100% + var(--tooltip-border-offset));
    height: max-content;

    &:after {
      border-width: 0 4px 4px 4px;
      border-color: transparent transparent #000 transparent;
      right: unset;
      top: -2px;
      right: 21px;
    }
  }

  &Wrapper {
    position: relative;
    z-index: 999;
    display: inline-block;

    &:hover {
      .tooltip {
        opacity: 1;
      }
    }
  }
}