.section {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.category {
  &Item {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &Title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.case {
  &List {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
}